.card-container {
  max-width: 500px; 
  margin: 0 auto;
  margin-top: 3rem;
  width: 100%; 
}

.home-address-icon,
.destination-address-icon,
.generic-info-icon,
.transportation-icon {
  border-radius: 50%;
  padding: 8px;
  display: inline-flex;
}

@media (max-width: 768px) {
  .card-container {
    padding: 15px !important;
    max-width: 100%; 
  }
}

@media (min-width: 1200px) {
  .card-container {
    max-width: 600px; 
  }
}
