.card-container {
  border-radius: 10px;
  margin: 400px;
}

.home-address-icon {
  border-radius: 50%;
  padding: 8px;
  display: inline-flex;
}

.destination-address-icon {
  border-radius: 50%;
  padding: 8px;
  display: inline-flex;
}

.generic-info-icon {
  border-radius: 20%;
  padding: 8px;
  display: inline-flex;
}

.transportation-icon {
  border-radius: 20%;
  padding: 8px;
  display: inline-flex;
}