@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
  height: 100%;
}

#root {
  height: 100%;
  font-family: "Roboto", sans-serif;

  /* Absolute Cinema color variables */
  --ac-red: #873838;
  --ac-red-light: #9F5F5F;
  --ac-red-lighter: #FFF0F0;
  --ac-red-dark: #6C2C2C;
  --ac-black: #0F0F0F;
  --ac-black-light: #3F3F3F;
  --ac-grey-light: #ECECEC;
  --ac-purple-light: #F7F5FF;
  --ac-mustard: #B6B10F;
  --ac-mustard-light: #FFFCDE;
  --ac-white: #fff;
}

.bg-ac-red {
  background-color: var(--ac-red);
}

.bg-ac-black {
  background-color: var(--ac-black);
}

.bg-ac-white {
  background-color: var(--ac-white);
}

.icon-bg-grey {
  background-color: var(--ac-grey-light);
  color: var(--ac-black);
}

.icon-bg-yellow {
  background-color: var(--ac-mustard-light);
  color: var(--ac-mustard);
}

.icon-bg-purple {
  background-color: var(--ac-purple-light);
  color: var(--ac-red);
}

.icon-bg-red {
  background-color: var(--ac-red-lighter);
  color: var(--ac-red);
}

.btn-ac-red {
  /* Use alongside bootstrap 'btn' class */
  --bs-btn-bg: var(--ac-red) !important;
  --bs-btn-hover-bg: var(--ac-red-light) !important;
}

.btn-ac-black {
  /* Use alongside bootstrap 'btn' class */
  --bs-btn-bg: var(--ac-black) !important;
  --bs-btn-hover-bg: var(--ac-black-light) !important;
}

.btn-icon {
  font-size: 1rem;
  background-color: none;
}
