@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
  height: 100%;
}

#root {
  height: 100%;
  font-family: "Roboto", sans-serif;

  /* Absolute cinema color variables */
  --ac-red: #873838;
  --ac-red-light: #9F5F5F;
  --ac-red-dark: #6C2C2C;
  --ac-black: #0F0F0F;
  --ac-black-light: #3F3F3F;
  --ac-white: #fff;
}

.bg-ac-red {
  background-color: var(--ac-red);
}

.bg-ac-black {
  background-color: var(--ac-black);
}

.btn-ac-red {
  /* Use alongside boostrap 'btn' class */
  --bs-btn-bg: var(--ac-red) !important;
  --bs-btn-hover-bg: var(--ac-red-light) !important;
}

.btn-ac-black {
  /* Use alongside boostrap 'btn' class */
  --bs-btn-bg: var(--ac-black) !important;
  --bs-btn-hover-bg: var(--ac-black-light) !important;
}

#custom-search-input {
  padding: 4px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input {
  border: 0;
  box-shadow: none;
}

.btn-icon {
  font-size: 1rem;
  background-color: none;
}
